# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# Log files
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Editor and IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build directories
dist/
build/
coverage/

# Temporary files
tmp/
temp/
.cache/

# Prisma
prisma/*.db

# Data files
/data/
/uploads/
public/uploads/

# Legacy files
ModINI/public/mods_details.json

# User-specific files
.npmrc
.yarnrc
